/* 
-------------------------------------
made by aura
-------------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #100f10;
    --blue: #265158;
    --dark-brown: #261A17;
    --white: #dcd9c9;
    --brown: #8F634F;
}

/* base theme*/
html {
    font-family: 'Azeret Mono', serif;
    font-size: .8rem;
    letter-spacing: -1px;
    color: var(--black);
    background-image: url('images/bg1.png');
    background-repeat: repeat;
    image-rendering: pixelated;
}

body {
	max-width: 1200px;
    margin: 0px auto;
    width: 80%;
}

header {
    height: 300px;
}

footer {
	text-align: center;
}

a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
	text-decoration: none;
    color: var(--blue);
}

a:hover{
    text-decoration: underline;
}

.box {
    background: var(--white);
    margin: 2rem;
    padding: .5rem;
    border: 2rem solid transparent;
	border-image-source: url('images/box2.png');
    border-image-slice: 16; 
    border-image-repeat: repeat;
    border-image-outset: .5rem;
}

/* blog */
.blog-posts {
    border: 2rem solid transparent;
	border-image-source: url('images/box1.png');
    border-image-slice: 16; 
    border-image-repeat: repeat;
    padding: 0px;
}