/* 
-------------------------------------
made by aura
-------------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --black: #100f10;
    --lightblue: #89a6c1;
    --blue: #728ca3;
    --darkblue: #172442;
    --dark-brown: #261A17;
    --white: #dcd9c9;
    --brown: #8F634F;
}

/* base theme*/
html {
    font-family: 'DM Sans', serif;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: -1px;
    color: var(--black);
    background-image: url('images/bg1.png');
    background-repeat: repeat;
    background-size: 20%;
    image-rendering: pixelated;
    cursor: url('cursor.cur'), auto;
}

body {
	max-width: 1200px;
    margin: 0px auto;
    width: 80%;
    background: transparent;
}

.main {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-direction: row-reverse;
}

header {
    display: flex;
    margin: 5rem 2rem 2rem;
    justify-content: center;
    align-items: center;
}

footer {
	text-align: center;
    margin: 2rem;
    color: var(--lightblue);
}

a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
	text-decoration: none;
    color: var(--darkblue);
}

a:hover{
    text-decoration: underline;
}

footer a {
    color: var(--lightblue);
}

.box {
    background: var(--white);
    margin: 2rem;
    padding: .5rem;
    border: 2rem solid transparent;
	border-image-source: url('images/box2.png');
    border-image-slice: 16; 
    border-image-outset: .5rem;
}

.frames {
    display: flex;
    flex-direction: column;
    height: auto;
    filter: drop-shadow(rgba(0, 0, 0, 0.74) .5rem .5rem);
}

#frame1 {
    width: 20%;
}

#frame2 {
    width: 25%;
}

#frame3 {
    width: 80%;
    position: relative;
    left: 4.5rem;
    top: -1.5rem;
}

#frame4 {
    width: 40%;
    position: relative;
    bottom: 3rem;
    left: .5rem;
}

/* blog */

.blog-posts {
    margin: 0 0 .7rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.date-posts {
    background: var(--white);
    border: 2rem solid transparent;
	border-image-source: url('images/box1.png');
    border-image-slice: 16; 
    border-image-repeat: repeat;
    margin-left: 1.5rem;
}

.date-header {
    background: var(--blue);
    color: var(--white);
    border: .1rem solid var(--black);
    margin: 0%;
    padding: .314rem;
    width: max-content;
}

iframe {
    border: .1rem solid var(--black);
}

.comments {
    background: var(--white);
    border: .1rem solid var(--black);
}

#blog-pager {
    background: var(--white);
    margin: 0 auto;
    padding: 1rem 2rem .2rem;
    width: max-content;
}

h3 a {
    font-size: 1.2em;
    margin: 0 0 .7rem 0;
}

h4 {
    margin: 0 0 .7rem 0;
}

/* sidebar */

.sidebar {
    min-width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about {
    background-color: var(--darkblue);
    color: var(--white);
    padding: .8rem;
    border: 1px solid var(--blue);
}

.games {
    background-color: var(--white);
    padding: .8rem;
    border: 1px solid var(--blue);
}

.sidetitle {
    margin: 0 0 .7rem 0;
    font-size: 1rem;
}

.sidetext {
    margin: 0 0 .7rem 0;
}

ul {
    margin: 0;
    padding-left: 2rem;
}